@charset "UTF-8";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
a {
  color: black;
  text-decoration: none;
}

li, p {
  font-size: 14px;
  list-style: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

header {
  border-bottom: solid 3px;
  border-image: linear-gradient(to right, #CC0001, #000098) 1;
}
header .container {
  margin: 0 auto;
  width: 80%;
}
header .logo-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  height: 78px;
}
header .logo-head .img-logo-head {
  width: 95.29px;
  height: 60px;
}
header .logo-head .header-menu {
  display: flex;
  align-items: center;
  height: 100%;
  width: calc(95% - 95.29px);
}
header .logo-head .header-menu .header-button {
  transition: all 0.3s;
}
header .logo-head .header-menu .header-button:hover .title {
  color: #CC0001;
}
header .logo-head .header-menu .header-button:hover {
  transform: translateY(-5px);
}
header .logo-head .header-menu .logo-link-first {
  border-left-style: dotted;
  border-left-width: 1px;
  border-color: gray;
}
header .logo-head .header-menu .logo-link {
  width: 14.2857142857%;
  text-align: center;
  border-right-style: dotted;
  border-right-width: 1px;
  border-color: gray;
}
header .logo-head .header-menu .logo-link .img-logo {
  height: 40px;
}
header .logo-head .header-menu .title {
  color: black;
  font-size: 14px;
  font-weight: bold;
  transform: translate(0, 5px);
}
header .logo-head .header-menu .search-icon {
  margin-left: 20px;
  width: 20px;
  height: 20px;
}
header .accordion-area {
  display: none;
  padding-bottom: 30px;
  background-color: #eaeaea;
  border-top: 3px solid orangered;
}
header .accordion-area .container {
  width: 60%;
}
header .accordion-area .accordion-area-title {
  padding: 20px 0;
  vertical-align: middle;
}
header .accordion-area .accordion-area-title::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 5px;
  background-color: #e71784;
  transform: translateY(-50%);
}
header .accordion-area .accordion-area-content {
  justify-content: space-between;
}
header .accordion-area .accordion-links {
  justify-content: space-between;
  width: calc(50% - 10px);
}
header .accordion-area .accordion-links .links {
  margin-bottom: 20px;
}
header .accordion-area .accordion-links .links .links-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
header .accordion-area .accordion-links li {
  position: relative;
  margin-bottom: 1px;
  padding: 3px 0;
  background-color: white;
  font-size: 14px;
}
header .accordion-area .accordion-links li a {
  display: block;
  padding-left: 15px;
  width: 100%;
  height: 100%;
}
header .accordion-area .accordion-links li::before {
  content: "\e409";
  font-family: "Material Icons";
  font-weight: 900;
  position: absolute;
  top: 4px;
  left: 0;
  color: #e71784;
}
header .accordion-area .accordion-images {
  width: calc(50% - 10px);
  justify-content: space-between;
}
header .accordion-area .accordion-images .wrapper {
  width: calc(50% - 10px);
}
header .accordion-area .accordion-images .wrapper .accordion-image-card {
  position: relative;
  margin-bottom: 20px;
  padding: 30px 15px;
  height: 280px;
  background-color: white;
}
header .accordion-area .accordion-images .wrapper .accordion-image-card .pop {
  position: absolute;
  top: 8px;
  left: 25px;
  padding: 5px;
  color: white;
}
header .accordion-area .accordion-images .wrapper .accordion-image-card .pop-left {
  background-color: #b19553;
}
header .accordion-area .accordion-images .wrapper .accordion-image-card .pop-right {
  background-color: #e71784;
}
header .accordion-area .accordion-images .wrapper .accordion-image-card img {
  width: 100%;
  height: auto;
}
header .accordion-area .accordion-images .wrapper .accordion-image-card .button {
  width: 80%;
}
header .close {
  display: none;
}
header .open {
  display: inherit;
}

footer {
  background-color: #444444;
  color: white;
  text-decoration: none;
  font-size: 14px;
}
footer .footer-banner picture {
  width: 100%;
  height: 100%;
}
footer .footer-banner img {
  width: 100%;
  height: 100%;
}
footer .container {
  margin: 0 auto;
  padding: 50px 0 30px;
  width: 90%;
}
footer .container .list-title {
  margin-bottom: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  border-bottom: solid 1px #666;
  font-size: 15px;
  font-weight: bold;
  vertical-align: middle;
}
footer .container .list-title::before {
  content: "";
  margin-right: 9px;
  width: 5px;
  height: 1px;
  display: inline-block;
  background-color: white;
  vertical-align: center;
}
footer .container li {
  margin-bottom: 5px;
  padding-left: 5px;
  list-style: none;
  vertical-align: middle;
}
footer .container li:hover {
  opacity: 0.5;
}
footer .container li::before {
  content: "";
  margin-right: 9px;
  width: 5px;
  height: 1px;
  display: inline-block;
  background-color: white;
  vertical-align: center;
}
footer .container li a {
  color: white;
}
footer .container .footer-upper-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .container .footer-upper-content .list {
  margin-bottom: 30px;
  width: fit-content;
}
footer .container .multiple_list {
  display: flex;
  justify-content: space-between;
}
footer .container .multiple_list ul {
  margin-right: 10px;
}
footer .footer-bottom-content .footer-link {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
footer .footer-bottom-content .text-link {
  list-style: none;
  font-size: small;
  margin-right: 25px;
}
footer .footer-bottom-content .text-link:hover {
  opacity: 0.5;
}
footer .footer-bottom-content .text-link a {
  color: white;
}
footer .footer-bottom-content .bar::before {
  content: "";
  margin-right: 15px;
  width: 1px;
  height: 10px;
  display: inline-block;
  background-color: white;
  vertical-align: center;
}
footer .footer-bottom-content .copy-right {
  text-align: center;
  padding-bottom: 50px;
}

.c_breadcrumb {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  margin-left: auto;
}
.c_breadcrumb li:not(:first-child)::before {
  content: ">";
  margin: 0 5px;
  color: #898989;
  vertical-align: top;
}

.c_sub-page-news {
  margin: 10px 0;
  padding: 0 5px;
}
.c_sub-page-news .sub-page-news-link {
  padding-bottom: 10px;
  color: black;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, #CC0001, #000098) 1;
  text-decoration: none;
}
.c_sub-page-news .sub-page-news-link .sub-page-news-title {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.c_sub-page-news .sub-page-news-link .sub-page-news-title:hover {
  color: #CC0001;
}
.c_sub-page-news .news-date {
  color: #b19553;
}

.toppage .toppage-slider .slider-img {
  margin-bottom: 40px;
  width: 100%;
  height: 500px;
  max-height: 750px;
}
.toppage .toppage-slider .slider-img img {
  width: 100%;
}
.toppage .toppage-slider .slick-dots {
  margin-bottom: 25px;
  border-radius: 50%;
}
.toppage .toppage-slider .slick-dots li {
  border-radius: 10px;
  background-color: #D9D9D9;
  margin-right: 20px;
}
.toppage .toppage-slider .slick-dots li:last-child {
  margin-right: 0;
}
.toppage .toppage-slider .slick-dots .slick-active {
  background-color: #CC0001;
}
.toppage .toppage-news {
  margin: 50px auto;
  width: 90%;
}
.toppage .toppage-news .news-title {
  margin-bottom: 20px;
  text-align: center;
  color: #000098;
  font-size: 2.4rem;
}
.toppage .toppage-news .news-wrapper {
  display: flex;
  justify-content: space-between;
}
.toppage .toppage-news .news-wrapper .news-date {
  color: #b19553;
}
.toppage .toppage-news .news-wrapper .list-item-content {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.toppage .toppage-news .news-wrapper .news-embassy {
  width: 35%;
}
.toppage .toppage-news .news-wrapper .news-embassy .news-embassy-title {
  margin-bottom: 10px;
  border-bottom: solid 5px;
  border-image: linear-gradient(to right, #CC0001, #000098) 1;
  color: #CC0001;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.toppage .toppage-news .news-wrapper .news-embassy .list-item {
  padding: 7.5px 15px;
  border-bottom: 1.5px solid #A49C9C;
}
.toppage .toppage-news .news-wrapper .news-embassy .list-item:first-child {
  border-top: 1.5px solid #A49C9C;
}
.toppage .toppage-news .news-wrapper .news-embassy .list-item a {
  transition: all 0.3s;
}
.toppage .toppage-news .news-wrapper .news-embassy .list-item a:hover {
  color: #CC0001;
}
.toppage .toppage-news .news-wrapper .news-embassy .button {
  position: relative;
  padding: 5px 30px;
  width: fit-content;
  background-color: #CC0001;
  border-radius: 50px;
  color: white;
  text-align: center;
  transition: all 0.3s;
  margin: 35px 0 0 auto;
}
.toppage .toppage-news .news-wrapper .news-embassy .button:hover {
  border: 1px solid #CC0001;
  background-color: white;
  color: #CC0001;
}
.toppage .toppage-news .news-wrapper .news-embassy .button:before {
  font-family: "Material Icons";
  content: "\e037";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}
.toppage .toppage-news .news-wrapper .news-embassy .button:hover::before {
  transform: translate(5px, -50%);
  transition: all 0.3s;
}
.toppage .toppage-news .news-wrapper .news-embassy .button a {
  color: white;
  font-size: 14px;
}
.toppage .toppage-news .news-wrapper .news-embassy .button:hover a {
  color: #CC0001;
}
.toppage .toppage-news .news {
  width: calc(65% - 30px);
}
.toppage .toppage-news .news .news-category {
  display: flex;
  margin-bottom: 21px;
}
.toppage .toppage-news .news .news-category .category {
  padding: 7px 0;
  width: 33.3333333333%;
  border-right: solid 1px #ccc;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.toppage .toppage-news .news .news-category .category-all.category-active {
  border-bottom: 5px solid #CFCFCF;
  transition: all 0.3s;
}
.toppage .toppage-news .news .news-category .category-info.category-active {
  border-bottom: 5px solid #CC0001;
  color: #CC0001;
  transition: all 0.3s;
}
.toppage .toppage-news .news .news-category .category-update.category-active {
  border-bottom: 5px solid #000098;
  color: #000098;
  transition: all 0.3s;
}
.toppage .toppage-news .news .news-item-wrapper {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-bottom: 1.5px solid #A49C9C;
  transition: all 0.3s;
}
.toppage .toppage-news .news .news-item-wrapper:hover {
  color: #000098;
}
.toppage .toppage-news .news .news-item-wrapper:hover .news-img-wrapper {
  opacity: 0.5;
}
.toppage .toppage-news .news .news-item-wrapper .news-img-wrapper {
  margin-right: 10px;
  width: 100px;
  transition: all 0.3s;
}
.toppage .toppage-news .news .news-item-wrapper .news-img-wrapper .news-img {
  width: 100%;
  height: 100%;
}
.toppage .toppage-news .news .news-item-wrapper .list-item {
  width: calc(100% - 100px - 10px);
}
.toppage .toppage-news .news .news-item-wrapper .news-date-category {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.toppage .toppage-news .news .news-item-wrapper .news-date-category .news-date {
  margin-right: 10px;
}
.toppage .toppage-news .news .news-item-wrapper .news-date-category .category {
  padding: 1.5px 5px;
  border-radius: 5px;
  color: #D5D6E5;
}
.toppage .toppage-news .news .news-item-wrapper .news-date-category .category-info {
  background-color: #CC0001;
}
.toppage .toppage-news .news .news-item-wrapper .news-date-category .category-update {
  background-color: #000098;
}
.toppage .toppage-news .news .button {
  position: relative;
  padding: 5px 30px;
  width: fit-content;
  background-color: #000098;
  border-radius: 50px;
  color: white;
  text-align: center;
  transition: all 0.3s;
  margin: 20px 0 0 auto;
}
.toppage .toppage-news .news .button:hover {
  border: 1px solid #000098;
  background-color: white;
  color: #000098;
}
.toppage .toppage-news .news .button:before {
  font-family: "Material Icons";
  content: "\e037";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}
.toppage .toppage-news .news .button:hover::before {
  transform: translate(5px, -50%);
  transition: all 0.3s;
}
.toppage .toppage-news .news .button a {
  color: white;
  font-size: 14px;
}
.toppage .toppage-news .news .button:hover a {
  color: #000098;
}
.toppage .title-wrapper {
  margin-bottom: 30px;
  text-align: center;
}
.toppage .title-wrapper .title {
  margin: 0 auto 5px;
  padding: 0 -10px;
  width: fit-content;
  font-size: 25px;
  border-bottom: 3px solid #CC0001;
}
.toppage .title-wrapper .title-eng {
  color: #000098;
  font-weight: bold;
  font-size: 18px;
}
.toppage .toppage-about {
  width: 100%;
  background-image: url("/img/toppage/about_bg.png");
  background-size: cover;
  padding: 30px 0;
}
.toppage .toppage-about .about-card-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 70%;
}
.toppage .toppage-about .about-card-wrapper .about-card {
  width: 30%;
  border-radius: 15px;
}
.toppage .toppage-about .about-card-wrapper .about-card .image-wrapper {
  position: relative;
  margin-bottom: 3px;
  width: 100%;
}
.toppage .toppage-about .about-card-wrapper .about-card .image-wrapper img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.toppage .toppage-about .about-card-wrapper .about-card .image-wrapper .image-text {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.toppage .toppage-about .about-card-wrapper .about-card .link-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 0 0 10px 10px;
}
.toppage .toppage-about .about-card-wrapper .about-card .link-wrapper .link-item {
  position: relative;
  margin-bottom: 5px;
  margin-left: 2.5px;
  padding-left: 20px;
  transition: all 0.3s;
}
.toppage .toppage-about .about-card-wrapper .about-card .link-wrapper .link-item:before {
  font-family: "Material Icons";
  content: "\e037";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  transition: all 0.3s;
}
.toppage .toppage-about .about-card-wrapper .about-card .link-wrapper .link-item:hover::before {
  color: #000098;
  transform: translate(5px, -50%);
}
.toppage .toppage-about .about-card-wrapper .about-card .link-wrapper .link-item .link:hover {
  color: #000098;
}
.toppage .toppage-theme {
  padding: 50px 0;
}
.toppage .toppage-theme .theme-wrapper {
  margin: 0 auto;
  width: 80%;
}
.toppage .toppage-theme .theme-wrapper .theme-top-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.toppage .toppage-theme .theme-wrapper .theme-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.toppage .toppage-theme .theme-wrapper .theme-item {
  position: relative;
  width: calc(20% - 15px);
}
.toppage .toppage-theme .theme-wrapper .theme-item:hover {
  opacity: 0.8;
}
.toppage .toppage-theme .theme-wrapper .theme-item:hover .theme-name {
  transform: translate(5px, -5px);
  transition: all 0.3s;
}
.toppage .toppage-theme .theme-wrapper .theme-item img {
  width: 100%;
  height: 100%;
}
.toppage .toppage-theme .theme-wrapper .theme-item .theme-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-weight: bold;
}
.toppage .toppage-theme .theme-wrapper .theme-item .box-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0) 75%, rgb(0, 0, 0));
}
.toppage .toppage-keyword {
  margin: 0 auto;
  width: 80%;
}
.toppage .toppage-keyword .button {
  position: relative;
  padding: 5px 30px;
  width: fit-content;
  background-color: #CC0001;
  border-radius: 50px;
  color: white;
  text-align: center;
  transition: all 0.3s;
}
.toppage .toppage-keyword .button:hover {
  border: 1px solid #CC0001;
  background-color: white;
  color: #CC0001;
}
.toppage .toppage-keyword .button:before {
  font-family: "Material Icons";
  content: "\e037";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}
.toppage .toppage-keyword .button:hover::before {
  transform: translate(5px, -50%);
  transition: all 0.3s;
}
.toppage .toppage-keyword .button a {
  color: white;
  font-size: 14px;
}
.toppage .toppage-keyword .button:hover a {
  color: #CC0001;
}
.toppage .toppage-keyword .keyword-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toppage .toppage-keyword .keyword-title-wrapper .keyword-title {
  width: fit-content;
  border-bottom: 3px solid #CC0001;
  font-size: 25px;
}
.toppage .toppage-keyword .keyword-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0 50px;
}
.toppage .toppage-keyword .keyword-container .keyword {
  margin: 0 10px 10px;
}
.toppage .toppage-keyword .keyword-container .keyword .keyword-link {
  display: block;
  padding: 15px 20px;
  width: 100%;
  height: 100%;
  background-color: #D9D9D9;
  border-radius: 30px;
  transition: all 0.3s;
}
.toppage .toppage-keyword .keyword-container .keyword .keyword-link:hover {
  background-color: #6A6A6A;
}
.toppage .toppage-map {
  margin: 0 auto 65px;
  padding: 20px 0;
  width: 80%;
  background-color: #FDDCDE;
}
.toppage .toppage-map .map-container {
  margin: 0 auto;
  width: 85%;
}
.toppage .toppage-map .map-title-wrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}
.toppage .toppage-map .map-title-wrapper .map-title {
  margin-right: 20px;
  border-bottom: 3px solid #CC0001;
  font-size: 25px;
}
.toppage .toppage-map .map-title-wrapper .map-title-supplement {
  margin-bottom: 6px;
}
.toppage .toppage-map .map-content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
.toppage .toppage-map .map-content .right-content {
  padding: 25px;
  width: 35%;
  background-color: white;
}
.toppage .toppage-map .map-content .right-content .image {
  position: relative;
  margin-bottom: 15px;
  width: 100%;
}
.toppage .toppage-map .map-content .right-content .image img {
  width: 100%;
}
.toppage .toppage-map .map-content .right-content .image .image-pop {
  position: absolute;
  top: 0;
  left: 20px;
  padding: 5px 25px;
  background-color: #CC0001;
  color: white;
  font-weight: bold;
  transform: translateY(-50%);
}
.toppage .toppage-map .map-content .right-content .seemore {
  margin: 15px auto 0;
  padding: 5px 20px;
  width: fit-content;
  background-color: #CC0001;
  transition: all 0.3s;
}
.toppage .toppage-map .map-content .right-content .seemore:hover {
  border: 1px solid #CC0001;
  background-color: white;
}
.toppage .toppage-map .map-content .right-content .seemore:hover a {
  color: #CC0001;
}
.toppage .toppage-map .map-content .right-content .seemore a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
}
.toppage .toppage-map .map-content .left-content {
  width: 35%;
}
.toppage .toppage-map .map-content .left-content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.toppage .toppage-map .text-supplement {
  text-align: right;
}
.toppage .toppage-preparation {
  margin: 0 auto 80px;
  padding: 25px;
  width: 65%;
  border: 2px solid black;
  border-radius: 15px;
  text-align: center;
}
.toppage .toppage-preparation .preparetion-title {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: bold;
}
.toppage .toppage-preparation .container {
  display: flex;
  justify-content: space-around;
}
.toppage .toppage-preparation .container .item {
  width: 20%;
  transition: all 0.3s;
}
.toppage .toppage-preparation .container .item:hover {
  color: #CC0001;
  transform: translateY(-10px);
}
.toppage .toppage-preparation .container .item:hover a {
  color: #CC0001;
}
.toppage .toppage-preparation .container .item .image {
  margin: 0 auto;
  width: 50%;
}
.toppage .toppage-preparation .container .item .image img {
  padding: 10px;
  width: 100%;
  height: 100%;
}

.article .title-banner {
  position: relative;
  height: 360px;
}
.article .title-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article .title-banner .title-banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bolder;
  font-size: 36px;
}
.article .article-content {
  margin: 0 auto;
  width: 70%;
}
.article .article-content .article-title {
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}
.article .article-content .article-title .title {
  padding-top: 10px;
}
.article .article-content .article-title .title-eng {
  color: gray;
}
.article .article-content .article-text {
  margin: 10px 0 0 auto;
  padding-top: 10px;
  padding-left: 2%;
}
.article .article-content .article-text .section {
  margin-bottom: 30px;
}
.article .article-content .article-text .section .container {
  display: flex;
  justify-content: space-around;
}
.article .article-content .article-text .section .container .image {
  margin-bottom: 0;
  width: 45%;
  height: inherit;
  background-color: #ededed;
}
.article .article-content .article-text .section .container .text-container {
  width: 45%;
}
.article .article-content .article-text .article-heading {
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-size: 25px;
  font-weight: bolder;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, #CC0001, #000098) 1;
}
.article .article-content .article-text .article-heading:before {
  font-family: "Material Icons";
  content: "\e838";
  margin-right: 3px;
  color: #CC0001;
  font-size: 20px;
}
.article .article-content .article-text .article-subheading {
  margin-bottom: 10px;
  padding-bottom: 5px;
  min-width: 20px;
  width: fit-content;
  font-size: 20px;
  background-image: linear-gradient(135deg, #cc0000 0, #000098 100%);
  background-repeat: no-repeat;
  background-size: 100% 5px;
  background-position: left bottom;
}
.article .article-content .article-text .article-subheading .article-subheading-eng {
  font-size: 14px;
  font-weight: normal;
  color: gray;
}
.article .article-content .article-text .image {
  margin-bottom: 20px;
  width: 100%;
  height: 300px;
  background-color: #e2e2e2;
}
.article .article-content .article-text .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article .article-content .article-text .article-link-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px;
  list-style: none;
  border: 1px solid rgb(201, 201, 201);
}
.article .article-content .article-text .article-link-list .link-item {
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
.article .article-content .article-text .article-link-list .link-item:hover {
  color: #000098;
  transform: translateY(-5px);
}
.article .article-content .article-text .article-link-list .link-item:before {
  font-family: "Material Icons";
  content: "\e037";
  margin-right: 3px;
}
.article .article-content .article-text .article-link-list .link-item:hover::before {
  color: #000098;
}
.article .article-content .article-text .timeline .timeline-list {
  display: flex;
  padding-bottom: 15px;
}
.article .article-content .article-text .timeline .timeline-list .timeline-date {
  position: relative;
  margin: 0 10px -15px 0;
  padding-right: 10px;
  padding-bottom: 15px;
  width: 20%;
  min-width: 150px;
  border-right: 3px #e5e5d1 solid;
  text-align: right;
}
.article .article-content .article-text .timeline .timeline-list .timeline-date::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #6fc173;
  position: absolute;
  top: 0;
  right: -1.5px;
  border-radius: 100%;
  transform: translate(50%, 50%);
}
.article .article-content .article-text .timeline .timeline-list .timeline-content {
  font-weight: bold;
}
.article .article-content .article-text .button {
  position: relative;
  padding: 5px 30px;
  width: fit-content;
  background-color: #CC0001;
  border-radius: 50px;
  color: white;
  text-align: center;
  transition: all 0.3s;
  margin: 30px auto;
  padding: 10px;
  width: 30%;
}
.article .article-content .article-text .button:hover {
  border: 1px solid #CC0001;
  background-color: white;
  color: #CC0001;
}
.article .article-content .article-text .button:before {
  font-family: "Material Icons";
  content: "\e037";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}
.article .article-content .article-text .button:hover::before {
  transform: translate(5px, -50%);
  transition: all 0.3s;
}
.article .article-content .article-text .button a {
  color: white;
  font-size: 14px;
}
.article .article-content .article-text .button:hover a {
  color: #CC0001;
}
.article .article-content .article-text .quote {
  text-align: right;
}
.article .article-content .article-text .article-overview {
  margin-bottom: 50px;
}
.article .article-content .article-text .text {
  margin-bottom: 10px;
}
.article .article-content .article-text .caution {
  color: #cc0000;
}

.area .area-image {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 30px;
}
.area .area-image .main-image {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  width: calc(65% - 10px);
  height: 300px;
  background-color: #e2e2e2;
}
.area .area-image .main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.area .area-image .image-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}
.area .area-image .image-list .image-right-list {
  width: calc(50% - 5px);
  height: 300px;
}
.area .area-image .image-list .image-right-list img {
  width: 100%;
  height: calc(33.3333333333% - 3px);
  object-fit: cover;
}
.area .area-image .image-list .image-left-list {
  width: calc(50% - 5px);
  height: 300px;
}
.area .area-image .image-list .image-left-list img {
  width: 100%;
  height: calc(33.3333333333% - 3px);
  object-fit: cover;
}
.area .area-overview {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.area .area-overview .area-map {
  width: calc(50% - 10px);
  height: 350px;
  background-color: #e2e2e2;
}
.area .area-overview .area-map img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.area .area-overview .area-overview-text {
  width: calc(50% - 10px);
}
.area .area-link {
  margin-bottom: 30px;
  padding: 20px 20px 0;
  border: 1px solid rgb(201, 201, 201);
}
.area .area-link .area-link-text {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.area .area-link .area-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.area .area-link .area-list .area-item {
  position: relative;
  margin-bottom: 15px;
  width: calc(25% - 15px);
}
.area .area-link .area-list .area-item:hover {
  opacity: 0.8;
}
.area .area-link .area-list .area-item:hover .area-name {
  transform: translate(5px, -5px);
  transition: all 0.3s;
}
.area .area-link .area-list .area-item img {
  width: 100%;
  height: 100%;
}
.area .area-link .area-list .area-item .area-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-weight: bold;
}
.area .area-link .area-list .area-item .box-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0) 75%, rgb(0, 0, 0));
}
.area .area-button-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.area .area-button-list .area-button {
  position: relative;
  padding: 5px 30px;
  width: fit-content;
  background-color: #CC0001;
  border-radius: 50px;
  color: white;
  text-align: center;
  transition: all 0.3s;
  margin-bottom: 15px;
  width: calc(25% - 15px);
  min-width: fit-content;
  border-radius: 5px;
}
.area .area-button-list .area-button:hover {
  border: 1px solid #CC0001;
  background-color: white;
  color: #CC0001;
}
.area .area-button-list .area-button:before {
  font-family: "Material Icons";
  content: "\e037";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}
.area .area-button-list .area-button:hover::before {
  transform: translate(5px, -50%);
  transition: all 0.3s;
}
.area .area-button-list .area-button a {
  color: white;
  font-size: 14px;
}
.area .area-button-list .area-button:hover a {
  color: #CC0001;
}

.icon-filled {
  font-variation-settings: "FILL" 1;
}

/*# sourceMappingURL=style.css.map */
