@charset "UTF-8";
a {
  color: black;
  text-decoration: none;
}

header {
  border-bottom: 3px solid orangered;
}
header .container {
  margin: 0 auto;
  width: 80%;
}
header .link-head {
  margin: 8px 0;
  font-size: 12px;
  text-align: right;
}
header .link-head .text-logo {
  color: #666;
}
header .link-head .text {
  color: #005bac;
}
header .link-head a {
  margin-right: 15px;
  text-decoration: none;
}
header .link-head .img-logo {
  width: 15px;
  height: 15px;
}
header .link-head .material-symbols-outlined {
  vertical-align: top;
  font-size: 16px;
  font-weight: 700;
}
header .logo-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  height: 78px;
}
header .logo-head .img-logo-head {
  margin-top: -10px;
  width: 120px;
  height: 60px;
}
header .logo-head .header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: calc(90% - 120px);
}
header .logo-head .header-menu .logo-link-first {
  border-left-style: dotted;
  border-left-width: 1px;
  border-color: gray;
}
header .logo-head .header-menu a {
  text-decoration: none;
}
header .logo-head .header-menu a:hover {
  transition: all 0.3s;
  transform: translate(0, -5px);
}
header .logo-head .header-menu .logo-link {
  padding: 10px 0;
  width: 100%;
  text-align: center;
  border-right-style: dotted;
  border-right-width: 1px;
  border-color: gray;
}
header .logo-head .header-menu .img-logo {
  width: 60px;
  height: 30px;
}
header .logo-head .header-menu .title {
  color: black;
  font-size: 14px;
  font-weight: bold;
  transform: translate(0, 5px);
}
header .logo-head .header-menu .title:hover {
  transition: all 0.5s;
}
header .logo-head .header-menu .search-icon {
  margin-left: 20px;
  width: 20px;
  height: 20px;
}

.article .title-banner {
  position: relative;
  height: 360px;
}
.article .title-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article .title-banner .title-banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bolder;
  font-size: 36px;
}
.article .article-text {
  margin: 0 auto;
  width: 70%;
}
.article .article-text .news {
  margin: 10px 0;
}
.article .article-text .news a {
  margin: 10px 0;
  color: black;
  text-decoration: none;
}
.article .article-text .news a:hover {
  color: #e71784;
}
.article .article-text .news .news-date {
  color: #b19553;
}
.article .article-text .article-title {
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}
.article .article-text .article-title h1 {
  padding-top: 10px;
  border-top: 5px solid;
  border-image: linear-gradient(to right, #e71784, #fdc300) 1;
}
.article .article-text .article-title p {
  color: gray;
}
.article .article-text .article-text {
  margin-top: 10px;
  margin-left: auto;
  padding-top: 20px;
  width: calc(100% - 60px);
}
.article .article-text .article-text h2 {
  margin: 50px 0 20px 0;
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: bolder;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, #e71784, #fdc300) 1;
}
.article .article-text .article-text .image {
  margin: 0 auto 20px;
  width: fit-content;
}
.article .article-text .article-text .image img {
  margin: 0 auto;
  object-fit: cover;
}
.article .article-text .article-text .article-links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
  list-style: none;
  border: 1px solid rgb(201, 201, 201);
}
.article .article-text .article-text .article-links .material-symbols-outlined {
  color: #e71784;
  vertical-align: bottom;
}
.article .article-text .article-text .article-links a:hover {
  color: #e71784;
}
.article .article-text .article-text .button {
  position: relative;
  margin: 20px auto 30px;
  padding: 10px 0;
  width: 30%;
  border: 1px solid #e71784;
  border-radius: 50px;
  color: #e71784;
  text-align: center;
  transition: all 0.3s;
}
.article .article-text .article-text .button:hover {
  background-color: #e71784;
  color: white;
}
.article .article-text .article-text .button:hover .material-symbols-outlined {
  transform: translate(5px, -50%);
}
.article .article-text .article-text .button .material-symbols-outlined {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  font-weight: bold;
  transition: all 0.1s;
}

footer {
  background-color: #444444;
  color: white;
  font-size: x-small;
  justify-content: right;
  text-decoration: none;
}
footer .text {
  padding: 20px;
  margin: 20px;
  line-height: 20px;
}
footer .text .size {
  font-size: 15px;
  font-weight: bold;
  border-bottom: solid 1px #666;
  margin-bottom: 7.5px;
  padding-bottom: 7.5px;
}
footer .text-list {
  padding: 20px;
  margin: 20px;
  line-height: 20px;
}
footer .footer-link {
  display: flex;
}
footer .footer-link .text li {
  list-style: none;
  vertical-align: middle;
}
footer .footer-link .text li::before {
  content: ""; /* 空の要素作成 */
  margin-right: 4px;
  width: 5px; /* 幅指定 */
  height: 1px; /* 高さ指定 */
  display: inline-block; /* インラインブロックにする */
  background-color: white; /* 背景色指定 */
  vertical-align: center;
}
footer .footer-company-text {
  text-align: center;
}
footer .footer-company-text .text {
  color: white;
  font-weight: bold;
  font-size: large;
}

.footer-companies {
  display: flex;
}

.footer-company .text {
  list-style: none;
}
.footer-company .text .small-size {
  font-weight: bold;
  font-size: small;
}
.footer-company .text .size {
  font-weight: bold;
  font-size: large;
}
.footer-company .icon-link {
  display: flex;
}
.footer-company .icon-link img {
  width: 15px;
  height: 15px;
}

/*# sourceMappingURL=style.css.map */
