footer {
  padding-bottom: 50px;
  background-color: #444444;
  color: white;
  text-decoration: none;
  font-size: 14px;

  .footer-banner {
    picture {
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

  .container {
    margin: 0 auto;
    padding: 50px 0 30px;
    width: 90%;
    .list-title {
      margin-bottom: 5px;
      padding-left: 5px;
      padding-bottom: 5px;
      border-bottom: solid 1px #666;
      font-size: 15px;
      font-weight: bold;
      vertical-align: middle;
      &::before {
        content: "";
        margin-right: 9px;
        width: 5px;
        height: 1px;
        display: inline-block;
        background-color: white;
        vertical-align: center;
      } 
    }
    li {
      margin-bottom: 5px;
      padding-left: 5px;
      list-style: none;
      vertical-align: middle;
      &:hover {
        opacity: 0.5;
      }
      &::before {
        content: "";
        margin-right: 9px;
        width: 5px;
        height: 1px;
        display: inline-block;
        background-color: white;
        vertical-align: center;
      }
      a {
        color: white;
      }
      .footer-company-text {
        text-align: center;
        .text {
          color: white;
          font-weight: bold;
          font-size: large;
        }
      }
    }
    .list-about-cambodia {
      width: calc(100% * 1/2 - 10px);
    }
    .list-area {
      width: calc(100% * 1/4 - 10px);
    }
    .list-restaurant {
      width: calc(100% * 1/4 - 10px);
    }

    .list-spot {
      width: calc(100% * (1/8));
    }
    .list-hotel {
      width: calc(100% * (2/8));
    }
    .list-activity {
      width: calc(100% * (2/8));
    }
    .list-theme {
      width: calc(100% * (2/8));
    }

    .multiple_list{
      display: flex;
      justify-content: space-between;
      ul {
        margin-right: 5px;
      }
    }
  }

  .footer-upper-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .footer-middle-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    .list-title {
      margin-left: -25px;
      padding-left: 25px;
      font-weight: bold;
      border-bottom: solid 1px #666;
      margin-bottom: 7.5px;
      padding-bottom: 7.5px;
    }
    .list-left-content {
      margin-right: 50px;
    }
  }

  .footer-bottom-content {
    .footer-link {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
    .text-link {
      list-style: none;
      font-size: small;
      margin-right: 25px;
      &:hover {
        opacity: 0.5;
      }
      a {
        color: white;
      }
    }
    .bar {
      &::before {
        content: "";
        margin-right: 15px;
        width: 1px;
        height: 10px;
        display: inline-block;
        background-color: white;
        vertical-align: center;
      }
    }
    .copy-right {
      text-align: center;
      padding-bottom: 50px;
    }
  }
}
