header {
  border-bottom: solid 3px;
  border-image: linear-gradient(to right, #CC0001, #000098) 1;
  .container {
    margin: 0 auto;
    width: 80%;
  }
  .logo-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    height: 78px;
    .img-logo-head {
      width: 95.29px;
      height: 60px;
    }
    .header-menu {
      display: flex;
      align-items: center;
      height: 100%;
      width: calc(95% - 95.29px);
      .header-button {
        transition: all 0.3s;
        &:hover .title {
          color: #CC0001;
        }
        &:hover  {
          transform: translateY(-5px);
        }
      }
      .logo-link-first {
        border-left-style: dotted;
        border-left-width: 1px;
        border-color: gray;
      }
      .logo-link {
        width: calc(100% / 7);
        text-align: center;
        border-right-style: dotted;
        border-right-width: 1px;
        border-color: gray;
        .img-logo {
          height: 40px;
        }
      }
      .title {
        color: black;
        font-size: 14px;
        font-weight: bold;
        transform: translate(0, 5px);
      }
      .search-icon {
        margin-left: 20px;
        width: 20px;
        height: 20px;
      }
    }
  }

  

  .accordion-area {
    display: none;
    padding-bottom: 30px;
    background-color: #eaeaea;
    border-top: 3px solid orangered;
    .container {
      width: 60%;
    }
    .accordion-area-title {
      padding: 20px 0;
      vertical-align: middle;
      &::before {
        content: '';
        display: inline-block;
        margin-right: 10px;
        width: 20px;
        height: 5px;
        background-color: #e71784;
        transform: translateY(-50%);
      }
    }
    .accordion-area-content {
      justify-content: space-between;
    }
    .accordion-links {
      justify-content: space-between;
      width: calc(50% - 10px);
      .links {
        margin-bottom: 20px;
        .links-title {
          margin-bottom: 10px;
          font-size: 16px;
          font-weight: bold;
        }
      }
      li {
        position: relative;
        margin-bottom: 1px;
        padding: 3px 0;
        background-color: white;
        font-size: 14px;
        a {
          display: block;
          padding-left: 15px;
          width: 100%;
          height: 100%;
        }
        &::before {
          content: '\e409';
          font-family: "Material Icons";
          font-weight: 900;
          position: absolute;
          top: 4px;
          left: 0;
          color: #e71784;
        }
      }
    }

    .accordion-images {
      width: calc(50% - 10px);
      justify-content: space-between;

      .wrapper{
        width: calc(50% - 10px);
        .accordion-image-card {
          position: relative;
          margin-bottom: 20px;
          padding: 30px 15px;
          height: 280px;
          background-color: white;
          .pop {
            position: absolute;
            top: 8px;
            left: calc(15px + 10px);
            padding: 5px;
            color: white;
          }
          .pop-left {
            background-color: #b19553;
          }
          .pop-right {
            background-color: #e71784;
          }
          img {
            width: 100%;
            height: auto;
          }
          .button {
            width: 80%;
          }
        }
      }
    }
  }
  .close {
    display: none;
  }
  .open {
    display: inherit;
  }
}
