header {
  border-bottom: solid 3px;
  border-image: linear-gradient(to right, #CC0001, #000098) 1;
}
header .container {
  margin: 0 auto;
  width: 80%;
}
header .logo-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  height: 78px;
}
header .logo-head .img-logo-head {
  width: 95.29px;
  height: 60px;
}
header .logo-head .header-menu {
  display: flex;
  align-items: center;
  height: 100%;
  width: calc(95% - 95.29px);
}
header .logo-head .header-menu .header-button {
  transition: all 0.3s;
}
header .logo-head .header-menu .header-button:hover .title {
  color: #CC0001;
}
header .logo-head .header-menu .header-button:hover {
  transform: translateY(-5px);
}
header .logo-head .header-menu .logo-link-first {
  border-left-style: dotted;
  border-left-width: 1px;
  border-color: gray;
}
header .logo-head .header-menu .logo-link {
  width: 14.2857142857%;
  text-align: center;
  border-right-style: dotted;
  border-right-width: 1px;
  border-color: gray;
}
header .logo-head .header-menu .logo-link .img-logo {
  height: 40px;
}
header .logo-head .header-menu .title {
  color: black;
  font-size: 14px;
  font-weight: bold;
  transform: translate(0, 5px);
}
header .logo-head .header-menu .search-icon {
  margin-left: 20px;
  width: 20px;
  height: 20px;
}
header .accordion-area {
  display: none;
  padding-bottom: 30px;
  background-color: #eaeaea;
  border-top: 3px solid orangered;
}
header .accordion-area .container {
  width: 60%;
}
header .accordion-area .accordion-area-title {
  padding: 20px 0;
  vertical-align: middle;
}
header .accordion-area .accordion-area-title::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 5px;
  background-color: #e71784;
  transform: translateY(-50%);
}
header .accordion-area .accordion-area-content {
  justify-content: space-between;
}
header .accordion-area .accordion-links {
  justify-content: space-between;
  width: calc(50% - 10px);
}
header .accordion-area .accordion-links .links {
  margin-bottom: 20px;
}
header .accordion-area .accordion-links .links .links-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
header .accordion-area .accordion-links li {
  position: relative;
  margin-bottom: 1px;
  padding: 3px 0;
  background-color: white;
  font-size: 14px;
}
header .accordion-area .accordion-links li a {
  display: block;
  padding-left: 15px;
  width: 100%;
  height: 100%;
}
header .accordion-area .accordion-links li::before {
  content: "\e409";
  font-family: "Material Icons";
  font-weight: 900;
  position: absolute;
  top: 4px;
  left: 0;
  color: #e71784;
}
header .accordion-area .accordion-images {
  width: calc(50% - 10px);
  justify-content: space-between;
}
header .accordion-area .accordion-images .wrapper {
  width: calc(50% - 10px);
}
header .accordion-area .accordion-images .wrapper .accordion-image-card {
  position: relative;
  margin-bottom: 20px;
  padding: 30px 15px;
  height: 280px;
  background-color: white;
}
header .accordion-area .accordion-images .wrapper .accordion-image-card .pop {
  position: absolute;
  top: 8px;
  left: 25px;
  padding: 5px;
  color: white;
}
header .accordion-area .accordion-images .wrapper .accordion-image-card .pop-left {
  background-color: #b19553;
}
header .accordion-area .accordion-images .wrapper .accordion-image-card .pop-right {
  background-color: #e71784;
}
header .accordion-area .accordion-images .wrapper .accordion-image-card img {
  width: 100%;
  height: auto;
}
header .accordion-area .accordion-images .wrapper .accordion-image-card .button {
  width: 80%;
}
header .close {
  display: none;
}
header .open {
  display: inherit;
}

footer {
  background-color: #444444;
  color: white;
  text-decoration: none;
  font-size: 14px;
}
footer .footer-banner picture {
  width: 100%;
  height: 100%;
}
footer .footer-banner img {
  width: 100%;
  height: 100%;
}
footer .container {
  margin: 0 auto;
  padding: 50px 0 30px;
  width: 90%;
}
footer .container .list-title {
  margin-bottom: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  border-bottom: solid 1px #666;
  font-size: 15px;
  font-weight: bold;
  vertical-align: middle;
}
footer .container .list-title::before {
  content: "";
  margin-right: 9px;
  width: 5px;
  height: 1px;
  display: inline-block;
  background-color: white;
  vertical-align: center;
}
footer .container li {
  margin-bottom: 5px;
  padding-left: 5px;
  list-style: none;
  vertical-align: middle;
}
footer .container li:hover {
  opacity: 0.5;
}
footer .container li::before {
  content: "";
  margin-right: 9px;
  width: 5px;
  height: 1px;
  display: inline-block;
  background-color: white;
  vertical-align: center;
}
footer .container li a {
  color: white;
}
footer .container .footer-upper-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .container .footer-upper-content .list {
  margin-bottom: 30px;
  width: fit-content;
}
footer .container .multiple_list {
  display: flex;
  justify-content: space-between;
}
footer .container .multiple_list ul {
  margin-right: 10px;
}
footer .footer-bottom-content .footer-link {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
footer .footer-bottom-content .text-link {
  list-style: none;
  font-size: small;
  margin-right: 25px;
}
footer .footer-bottom-content .text-link:hover {
  opacity: 0.5;
}
footer .footer-bottom-content .text-link a {
  color: white;
}
footer .footer-bottom-content .bar::before {
  content: "";
  margin-right: 15px;
  width: 1px;
  height: 10px;
  display: inline-block;
  background-color: white;
  vertical-align: center;
}
footer .footer-bottom-content .copy-right {
  text-align: center;
  padding-bottom: 50px;
}

/*# sourceMappingURL=index.css.map */
