@mixin button_template($color) {
  position: relative;
  padding: 5px 30px;
  width: fit-content;
  background-color: $color;
  border-radius: 50px;
  color: white;
  text-align: center;
  transition: all 0.3s;
  &:hover {
    border: 1px solid $color;
    background-color: white;
    color: $color;
  }
  &:before {
    font-family: 'Material Icons';
    content: "\e037";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
  }
  &:hover::before{
    transform: translate(5px, -50%);
    transition: all 0.3s;
  }
}