header {
    color: red;
}
.link-head {
    a {
        margin-right: 15px;
    }
    text-align: right;
    margin: 20px;
    .img-logo {
        width: 15px;
        height: 15px;
    }
    font-size: 10px;
}
.logo-head {

    .title {
        color: black;
    }
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid orangered;
    .img-logo {
        width: 50px;
        height: 40px;
        border-right-style: dashed;
    }
    .search-icon {
        font-size: 40px;
    }

}